langchain
langchain-openai 
python-dotenv
streamlit
openai
pypdf
langchain-community
chromadb
sentence-transformers
faiss_cpu
langchain_chroma
duckdb
pandas
openai
arxiv
langchain_huggingface
langchain-groq
langchain-text-splitters
